
/* не понимаю зачем убирать нижнее подчеркивание, в брифе блок khan элемент buy-link, т.е.  по бэм между ними должно быть два нижних подчеркивания */

.khan__buy-link{
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:#2f80ed;
  opacity:1;
transition: opacity .3s linear;
}

.khan__buy-link:hover{
opacity: 0.6;
}

